@inherits LayoutComponentBase
@using AntDesign
@inject IconService iconService

<div class="page" style="background-color: white;">

        <div style="margin-top: 8px;">
            <GridRow>
                <GridCol Span="2">
                    <Button Type="primary" OnClick="ToggleCollapsed" Style="margin: 40px 24px 0px; background-color: rgba(0, 86, 158, 1);" Icon="menu-unfold"/>
                </GridCol>
                <GridCol Span="20">
                    <div class="header" style="margin-top: 10px; padding: 10px;">

                        <!--DO A uhh EMBEDDED LINK-->
                        <a href="https://www.mi.mun.ca" <img src="image/MI_logo.png" alt="logo" style="margin-top: 8px" /></a>
                        <a href="https://www.mun.ca" <img src="image/MUN_logo.png" alt="logo" style="float: right; margin-top: 8px;" /></a>
                        <h1 style="font-weight: bold; font-size: 50px; text-align:center; color: rgba(0, 86, 158, 1);">MI Experience Map</h1>
                    </div>
                </GridCol>
            </GridRow>    
                <Layout Class="site-layout" style="background-image: url('/image/wave_background.svg'); padding-bottom: 60px; width: 100vw;">
                    <Sider @bind-Collapsed=@collapse NoTrigger style="background-color: white;">
                        <Menu DefaultSelectedKeys="@(new[] {"1"})"
                            DefaultOpenKeys="@(new[] {"sub1"})"
                            Mode="MenuMode.Inline"
                            Theme="MenuTheme.Light"
                            InlineCollapsed=@collapse>
                            <MenuItem Key="1" Icon="home">
                                    <MenuLink Href="/">
                                        Home
                                    </MenuLink>
                                 </MenuItem> 
                                <MenuItem Key="2" Icon="plus">
                                    <MenuLink Href="/addcourse">
                                        Add Courses
                                    </MenuLink>
                                 </MenuItem> 
                                 <MenuItem Key="3" Icon="user">
                                    <MenuLink Href="/myskills">
                                        My Skills
                                    </MenuLink>
                                 </MenuItem> 
                        </Menu>
                    </Sider>
                     <div style="margin: 80px; width: 100vw;">  
                        <div class="site-layout-background" style="border-radius: 25px; background-color: white; text-align: left; overflow-wrap: break-word; padding: 20px; min-height: 100vh;">
                            <article>
                                @Body
                            </article>
                        </div>
                        </div> 
                </Layout>
        </div>


    <Footer style="text-align: left; position: absolute; bottom: 0; width: 100%; padding: 10px;">
        <small style="text-color: white">Copyright 2024 Fisheries and Marine Institute of Memorial University of Newfoundland
        <br/>Newfoundland and Labrador, Canada</small> 
    </Footer>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool collapse = true;

    void ToggleCollapsed(){
        collapse = !collapse;
    }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await iconService.CreateFromIconfontCN("//at.alicdn.com/t/font_2735473_hi62ezq5579.js");
		}
	}
}