@inherits LayoutComponentBase
@using AntDesign
@inject IconService iconService

<div class="page" style="background-color: white;">
    <main>
        <div style="margin-top: 8px;">
            <GridRow>
                <GridCol Span="2">
                    <Button Type="primary" OnClick="ToggleCollapsed" Style="margin: 16px 16px;" Icon="menu-unfold"/>
                </GridCol>
                <GridCol Span="20">
                    <div class="header">

                        <!--DO A uhh EMBEDDED LINK-->
                        <a href="https://www.mi.mun.ca" <img src="image/MI_logo.png" alt="logo" /></a>
                        <a href="https://www.mun.ca" <img src="image/MUN_logo.png" alt="logo" style="float: right" /></a>
                        <i<h1 Style="text-align:center; color: rgba(0, 86, 158, 1);">MI Experience Map</h1></i>
                    </div>
                </GridCol>
            </GridRow>    
                <Layout>
                    <Sider @bind-Collapsed=@collapse NoTrigger style="background-color: white">
                        <Menu DefaultSelectedKeys="@(new[] {"1"})"
                            DefaultOpenKeys="@(new[] {"sub1"})"
                            Mode="MenuMode.Inline"
                            Theme="MenuTheme.Light"
                            InlineCollapsed=@collapse>
                            <MenuItem Key="1" Icon="home">
                                    <MenuLink Href="/">
                                        Home
                                    </MenuLink>
                                 </MenuItem> 
                                <MenuItem Key="2" Icon="plus">
                                    <MenuLink Href="/addcourse">
                                        Add Courses
                                    </MenuLink>
                                 </MenuItem> 
                        </Menu>
                    </Sider>
                    <div style="margin: 30px; min-width: 90%;">
                        <Content Class="site-layout-background" style="background-color: white; min-width: 100vh; min-height: 100vh; text-align: left;">
                            <article class="content px-4" style="min-length: 100%;">
                                @Body
                            </article>
                        </Content>
                    </div>
                </Layout>
        </div>
    </main>  
    <Footer Style="text-align: left; position: fixed; bottom: 0; width: 100%; padding: 10px;">
        <small>Copyright 2024 Fisheries and Marine Institute of Memorial University of Newfoundland
        <br/>Newfoundland and Labrador, Canada</small>
    </Footer>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool collapse = true;

    void ToggleCollapsed(){
        collapse = !collapse;
    }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await iconService.CreateFromIconfontCN("//at.alicdn.com/t/font_2735473_hi62ezq5579.js");
		}
	}
}