@inherits LayoutComponentBase
@using AntDesign
@inject IconService iconService

<div class="page">
    <main>
        <div style="margin-top: 8px;">
            <GridRow>
                <GridCol Span="2">
            <Button Type="primary" OnClick="ToggleCollapsed" Style="margin-bottom: 8px; margin-left: 8px;" Icon="menu-unfold"/>
                </GridCol>
                <GridCol Span="20">
                    <h1 Style="text-align:center">MI Experience Map</h1>
                </GridCol>
            </GridRow>    
                <Layout>
                    <Sider @bind-Collapsed=@collapse NoTrigger>
                        <Menu DefaultSelectedKeys="@(new[] {"1"})"
                            DefaultOpenKeys="@(new[] {"sub1"})"
                            Mode="MenuMode.Inline"
                            Theme="MenuTheme.Light"
                            InlineCollapsed=@collapse>
                            <MenuItem Key="1" Icon="home">
                                    <MenuLink Href="/">
                                        Home
                                    </MenuLink>
                                 </MenuItem> 
                                <MenuItem Key="2" Icon="plus">
                                    <MenuLink Href="/addcourse">
                                        Add Courses
                                    </MenuLink>
                                 </MenuItem> 
                        </Menu>
                    </Sider>
                    <Content Class="site-layout-background" Style="padding: 24px; margin: 0; min-height: 800px; text-align: left;">
                        <article class="content px-4" Style="min-length: 100%;">
                            @Body
                        </article>
                    </Content>
                </Layout>
        </div>
    </main>  
    <Footer Style="text-align: left; position: fixed; bottom: 0; width: 100%;">
        Copyright 2024 Fisheries and Marine Institute of Memorial University of Newfoundland
        <br/>Newfoundland and Labrador, Canada
    </Footer>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool collapse = true;

    void ToggleCollapsed(){
        collapse = !collapse;
    }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await iconService.CreateFromIconfontCN("//at.alicdn.com/t/font_2735473_hi62ezq5579.js");
		}
	}
}