@page "/"
@rendermode InteractiveServer

<h1>Courses and Experiences</h1>


<p>"The Office of Career Integrated Learning coordinates a variety of work term related 
    activities which assist you, our students, in achieving meaningful work term experiences. 
    It is our goal to prepare you for your work term and support you as you connect with our partner employers."
</p>

