@page "/"
@rendermode InteractiveServer

<h1>Courses and Experiences</h1>


<p>This is a web application to help students discover what soft skills they have. cccccccfffffffcccccccccccccccccccccccccccccccccc
</p>

