@page "/"
@rendermode InteractiveServer

<h1><b>Welcome to MI's Career Services Web App</b></h1>

<br/>
<font style="font-size: 20px">
<p>This site has been designed to help students become familiar
    with the skills gained during their program to prepare
    for their next exciting career opportunity!
</p>
<p>
    Use the resources on this site to ensure your resume and cover
    letter are ready to send out to employers.
</p>
<br/>
<p style="margin-left:10%; margin-right:10%;">
    <Icon Type="caret-right" Theme="outline"/>Check out the <Icon Type="solution" style="color: #0099ff;" /><font color="#0099ff"> Program Review</font> page to see what technical skills you 
    can add to your resume.
</p>
<br/>
<p style="margin-left:10%; margin-right:10%;">
    <Icon Type="caret-right" Theme="outline"/><i>Additional resources lorem ipsum </i> is available on 
    the <Icon Type="paper-clip" style="color: #0099ff;"/> <font color="#0099ff">Resources page</font>.
</p>
</font>

