@page "/"
@rendermode InteractiveServer

<h1>Welcome to MI's Career Services Web App</h1>

<p></p>
<p>This site has been designed to help students become familiar
    with the skills gained during their program to prepare
    for their next exciting career opportunity!
</p>
<br/><br/>
<p>Use the resources on this site to ensure your resume and cover
    letter is ready to send out to employers.
    <br/>
    Check out the Add Courses page to see what technical skills you 
    can add to your resume.
</p>

