@page "/"
@rendermode InteractiveServer

<h1>Welcome to MI's Career Services Web App</h1>


<font style="font-size: 20px; margin: 10px 0px 0px 5px;">
<p>This site has been designed to help students become familiar
    with the skills gained during their program to prepare
    for their next exciting career opportunity!
</p>
<p>
    Use the resources on this site to ensure your resume and cover
    letter are ready to send out to employers.
</p>
<br/>

<p style="margin-left:10%; margin-right:5%;">
    <GridRow>
        <div>
        <GridCol Span="2">
            <Icon Type="solution" style="color: #0099ff; font-size: 50px; margin-right: 10px;" />
        </GridCol>
        </div>
        <div>
        <GridCol Span="24" style="margin-top: 10px;">
            Check out the<font color="#0099ff"> Program Review</font> page to see 
            what technical skills you can add to your resume.
        </GridCol>
        </div>
    </GridRow>
</p>
<br/>
    
<p style="margin-left:10%; margin-right:5%;">
    <GridRow>
        <div>
        <GridCol Span="2">
            <Icon Type="paper-clip" style="color: #0099ff; font-size: 50px; margin-right: 10px;"/>
        </GridCol>
        </div>
        <div>
        <GridCol Span="24" style="margin-top: 10px;">
            <i>Additional resources lorem ipsum </i> is available on 
            the <font color="#0099ff">Resources page</font>.
        </GridCol>
        </div>
    </GridRow>
        <img src="image/octopus.png" style="transform: rotate(270deg); opacity: 0.4; position: absolute; top: 375px; left: 72%" width="200"/>
</p>

    <p>
        <br/>.<br/>.<br/>.<br/>.<br/>.<br/>other stuff?
        <br/>
        Visit us at our Office with any questions!
        <br/>
        lorem ipsum
        <br/>
        Office Number: ##?
    </p>
    <br/><br/>
</font>





