@page "/myskills"
@using AntDesign
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject CourseService CService


@using ExperienceMap.Data

<h1>Resources</h1>


<img src="image/jellyfish.png" width="150" style="float: right; margin-right: 75px; opacity: 0.3"/>
    

