@page "/myskills"
@using AntDesign
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject CourseService CService


@using ExperienceMap.Data

<h1>Resources</h1>

<img src="image/fish.png" width="300" style="position: absolute; top: 0; left: 70%; opacity: 0.3;"/>


    

